@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Outfit&display=swap');
.generate-image-container{
    display: block;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
}
.img-input{
    display: block;
}
.btn-image{
    display: block;
    font-family: 'Lato', sans-serif;
    width: 100px;
    border-radius: 2px;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    background-color: #83b2d5;;
}

.generate-url-btn{
    background-color: #007bff;
    color: white;
}
.copy-url-btn{
    background-color: #28a745;
    color: white;
}

.generate-url{
    width: 60%;
    height: 50px;
}
.generate-btn-container{
    width: 250px;
    display: flex;
    justify-content: space-between;
    
}

.btn-submit{
  font-family: 'Lato', sans-serif;
  width: 100px;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  padding: 10px;
  margin: 10px;
  margin-bottom: 20px;
  background-color: #4CAF50;;
}

.tag-input-container{
    margin-top: 30px;
    margin-bottom: 30px;
}

@media screen and (max-width: 280px) {
    .generate-btn-container{
        display: block;
        width: 100%;
    }
    .img-input{
        width: 80%;
    }
}




